<main class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Ruleta sin Ruleta!</h1>
        <p class="lead">Es un simple juego en el que entre varios jugadores competiran por resolver el tablero</p>
        <hr class="my-3">
        <p><span class="blue">1. </span> Una vez que haya 2 jugadores la partida dará comienzo</p>
        <p><span class="blue">2. </span> El turno de cada jugador durará hasta 20 segundos</p>
        <p><span class="blue">3. </span> Durante el turno, el jugador podrá decir una vocal o una consonante , para
            así,
            comprobar si esta se encuentra en el tablero</p>
        <p><span class="blue">4. </span> Una vez usado tu letra, el jugador podrá o adivinar o pasar turno</p>
        <p><span class="blue">5. </span> Cada juego consta de 3 rondas, el que haya ganado mas rondas gana la
            partida
        </p>
        <div class="container" style="display: flex;flex-flow: row wrap; justify-content: space-around">
            <p class="btn btn-danger btn-lg bit">Por cada vocal descubierta obtendrás 50 puntos!</p>
            <p class="btn btn-danger btn-lg bit">Por cada consonante descubierta obtendras 25 puntos!</p>
        </div>
        <p class="lead">
        </p>
    </div>
    <div align="center">

        <button routerLink="/tabla" routerLinkActive="active" class="btn btn-primary btn-lg">Entendido!</button>

    </div>
</main>
