<main class="tablero ">

  <h1 align="center">Bienvenido {{_Socket.userdata.name}}</h1>

  <div class="container-fluid">
    <div class="row">
      <div align="center" class="col-md-12 pt-5"><h3>Pista de frase</h3></div>
    </div>
    <div class="row ">
      <div class="col-md-9 espe" style="height: 500px; padding: 50px">
        <app-caja *ngFor="let caja of cajasarray" [caja]=caja>d</app-caja>
      </div>
      <div class="col-md-3" style="display: flex; flex-flow: column nowrap; justify-content: center"><input type="text"
                                                                                                            class="form-control"
                                                                                                            placeholder="Vocal o consonante">
      </div>
    </div>
    <div class="row">
      <div align="center" class="col-md-12 pt-5"><input type="text" class="form-control" aria-describedby="solucion"
                                                        id="solucion" placeholder="Solución">
        <small id="emailHelp" class="form-text text-muted">Si fallas tu puntuación se verá reducida a la mitad</small>
      </div>
    </div>
  </div>

</main>
