/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "angrybirds";
    src: url("assets/angrybirds.ttf");
}

@font-face {
    font-family: "stranger";
    src: url("assets/stranger.ttf");
}

@font-face {
    font-family: "vcr";
    src: url("assets/vcr.ttf");
}

@font-face {
    font-family: "hughs";
    src: url("assets/Hughs.otf");
}